* {
	margin:0;
	padding:0;
}
html, body {
	height:100%;
}

body {
	padding:0px 0px 0px 50px;
	margin-top:0px;
	margin-bottom:0px;
	background-color:#804f24;
	font-family:'TeXGyreScholaRegular';
}

#content {
	background-image: url('/images/book-pages.png'); 
	background-repeat: repeat-y;
	background-color: #e5e5de;
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0px 65px 0px 155px;
	max-width:750px;

/*
	-moz-box-shadow: 0px -20px 10px #000;
	-webkit-box-shadow: 0px -20px 10px #000;
	box-shadow: 0px -20px 10px #000;
	*/
	min-height:100%;
}

#hd {
	margin:0em;
	padding:0em;
	text-align:center;
}

h1 {
	margin:0em;
	padding:0em;
	font-size:25px;
}

#nav ul {
	list-style-type: none;
	position:absolute;
	margin-left:-215px;
	margin-top:-25px;
	font-family: 'Just Another Hand', arial, serif;
	font-size:30px;
}

#nav ul li{
}

#nav ul li a{
	text-decoration:none;
	display:block;
	width:105px;
	height:40px;
	background-color:	#d8d99b;
	padding:20px 0px 5px 20px;
	margin:10px;
	margin-bottom:30px;
	text-overflow:clip;

	-moz-border-radius-bottomleft: 25px;
	border-bottom-left-radius: 25px;
	-moz-border-radius-topleft: 25px;

	border-top-left-radius: 25px;
	color:#333;
}

#nav ul li a:hover {
	background-color:	#f0f18e;
	-webkit-transform:rotate(-4deg);
	-moz-transform:rotate(-4deg);
	transform:rotate(-4deg);
	color:#000;
}

#nav ul li.selected{
	padding:20px 0px 5px 20px;
	margin:10px;
	margin-bottom:30px;

	-moz-border-radius-bottomleft: 25px;
	border-bottom-left-radius: 25px;
	-moz-border-radius-topleft: 25px;

	border-top-left-radius: 25px;
	color:#333;
	width:140px;
	height:40px;
	margin-left:30px;
	background-color:	#f0f18e;

	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;

	-webkit-transform:rotate(-4deg);
	-moz-transform:rotate(-4deg);
	transform:rotate(-4deg);
	color:#000;
}

#ft {
/*
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:60px;	
	background:#6cf;

*/
}


@font-face {
    font-family: 'TeXGyreScholaRegular';
    src: url('../fonts/texgyreschola-regular-webfont.eot');
    src: url('../fonts/texgyreschola-regular-webfont.eot?iefix') format('eot'),
         url('../fonts/texgyreschola-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-regular-webfont.svg#webfontEPwbBXTh') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TeXGyreScholaItalic';
    src: url('../fonts/texgyreschola-italic-webfont.eot');
    src: url('../fonts/texgyreschola-italic-webfont.eot?iefix') format('eot'),
         url('../fonts/texgyreschola-italic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-italic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-italic-webfont.svg#webfontSxSqjzok') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TeXGyreScholaBold';
    src: url('../fonts/texgyreschola-bold-webfont.eot');
    src: url('../fonts/texgyreschola-bold-webfont.eot?iefix') format('eot'),
         url('../fonts/texgyreschola-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bold-webfont.svg#webfontLbvqPRcd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TeXGyreScholaBoldItalic';
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot');
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot?iefix') format('eot'),
         url('../fonts/texgyreschola-bolditalic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bolditalic-webfont.svg#webfontOy4PMnCV') format('svg');
    font-weight: normal;
    font-style: normal;

}

