<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Joe Versoza | {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/css/screen.css">
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/css/syntax.css">
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/js/jvers.js">
	<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
<div id="content">
	<div id="hd">
		<h1>Joe Versoza is on the Internet!</h1>
	</div><!-- #hd -->
	<div id="nav">
		{% include nav.html %}
	</div><!-- #nav -->
	{{ content }}
	<div id="ft">
		{% include archive.html %}
		{% if page.title == 'blog' or page.layout == 'post'%}
		<div class="pagination">
		{% for post in site.posts limit:2 %} 
			{% if forloop.last %}
				<a href="{{ post.url }}">&lt;&lt;&nbsp;&nbsp; {{ post.title }}</a>
			{% endif %}
		{% endfor %} 
		</div><!-- .pagination -->
		{% endif %}
	</div><!-- #ft -->
	
</div><!-- #you -->
</body>
</html>
