<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Joe Versoza | {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/screen.css">
	<link rel="stylesheet" type="text/css" href="/js/jvers.js">
	<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
<div id="you">
	<div id="hd">
		<h1>Joe Versoza is on the Internet!</h1>
	</div><!-- #hd -->
	{{ content }}
</div><!-- #you -->
</body>
</html>
