<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Joe Versoza | {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/css/screen.css">
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/css/syntax.css">
	<link rel="stylesheet" type="text/css" href="{{ site.res_base_url }}/js/jvers.js">
	<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
<div id="content">
	<div id="hd">
		<h1>Joe Versoza is on the Internet!</h1>
	</div><!-- #hd -->
	<div id="nav">
		{% include nav.html %}
	</div><!-- #nav -->
	{{ content }}
	<div id="ft">
		<!--
		<div class="archive">
		<h3>archive</h3>
		<ul id="archive">
		{% for post in site.posts %}
		<li><a href="{{ post.url }}">{{ post.title }}</a><abbr>{{ post.date | date_to_string }}</abbr></li>
		{% endfor %}
		</ul>
		</div>
		-->
		<div class="pagination">
			{% if page.previous %}
				<a href="{{ page.previous.url }}">&lt&ltPrevious  {{ page.previous.title }}</a>
			{% endif %}
			{% if page.previous and page.next%}
			|
			{% endif %}
			{% if page.next %}
				<a href="{{ page.next.url }}">{{ page.next.title }} Next&gt;&gt;</a>
			{% endif %}
		</div>
	</div><!-- #ft -->
	
</div><!-- #you -->
</body>
</html>
